<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Prueba de Evaluacion</title>
</head>
<body>
    <h1>Bienvenido</h1>
    

    <div class="contenedor-form">
        <h4 id="Nombre">Nombre: </h4>
        <h4 id="Color_Piel">Color de Piel: </h4>
        <h4 id="Color_Ojos">Color de Ojos: </h4>
        <h4 id="Chiste">Chiste: </h4>
        <img id="Imagen">

    </div>

    <script src="/js/index.js"></script>
</body>

</html>